#filter-box {
    /* position: absolute; */
    position: relative;
    margin:auto;
    margin-top: -8%;
    z-index: 2;
}

.background-filter {
    background-color: rgba(0,0,0,.5);
    position: fixed;
    display: none;
    z-index: 1;
}
.bg-green {
    background: #5CB85F;
    color: white;
    border-radius: 5px;
}