@media (max-width : 991px) {

    /* hero section start */
    .tagline-hero {
        margin-top: 60px;
    }

    .tagline-hero h1 {
        width: 90%;
    }

    .tagline-hero p {
        width: 70%;
    }

    /* hero section end */


    /* service start */
    .service-tagline {
        margin-top: 25px;
    }

    /* service end */


    /* why us start */
    .card-why-us {
        height: 90%;
    }

    /* why us end */


    /* navbar side bar start */
    .navbar-collapse {
        position: fixed;
        background: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        bottom: 0;
        overflow-x: hidden;
    }

    .navbar-nav {
        background-color: white;
        height: 100vh;
        width: 50%;
        left: 100%;
        position: absolute;
        transition: left .35s ease;
    }

    .navbar-collapse.collapsing {
        transition: background-color .35s ease;
    }

    .navbar-collapse.show .navbar-nav {
        transition: left .35s ease;
        left: 50%;
    }

    a.navbar-nav-toggler {
        font-size: 30px;
        top: 1.5%;
        left: 80%;
        position: absolute;

    }

    /* navbar side bar end */

    /* owl carousel start */

    .owl-container {
        margin-top: 100px !important;
        width: 100% !important;
        left: 4% !important;
        position: relative !important;
    }

    .testimonial {
        width: 90%;
        height: auto;
        background: #F1F3FF;
        border-radius: 20px;
        display: block;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin: 0 10px;
    }

    .owl-carousel .owl-item img {
        display: block;
        width: 100%;
        position: relative;
        margin: auto;
    }

    /* owl carousel end */

}

@media (max-width : 576px) {
    .tagline-hero h1 {
        line-height: 52px;
    }

    .tagline-hero p {
        width: 100%;
    }

    .tagline-why-us {
        text-align: center;
    }

    .service-tagline p {
        width: 100% !important;
    }

    .tagline-faq {
        text-align: center;
    }

    .owl-container {
        margin-top: 100px !important;
        width: 100% !important;
        left: 3% !important;
        position: relative !important;
    }
}




@media (max-width : 360px) {

    .tagline-why-us {
        text-align: center;
        margin-top: -15%;
    }

    .tagline-hero p {
        width: 100% !important;
    }

    .img-service {
        width: 80%;
        height: auto;
        margin-left: 10%;
    }

    .accordion {
        width: 120%;
        margin-left: -20px;
    }

    .header-testi {
        text-align: center;
        margin-bottom: -10%;
        margin-top: -28px;
    }

    .owl-container {
        margin-top: 100px !important;
        width: 100% !important;
        left: 2.5% !important;
        position: relative !important;
    }
}